---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
  .shorter {
     margin-bottom: 0.15cm;
  }
  ol li {
     margin-bottom: 15px;
  }
</style>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <p class="shorter" /> <h1>{{ category[1].title }}</h1>
        <ol reversed>
        {% assign title_shown = true %}
      {% endunless %}
      <li>
      {% include archive-single.html %}
      </li>
    {% endfor %}
    {% if title_shown %}
      </ol> <!-- CLOSE THE LIST AT THE END OF THE CATEGORY -->
    {% endif %}
    <br />
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
